version: 2

test: &test
  working_directory: /home/sage/mclf
  steps:
    - checkout
    - run:
        command: |
          ln -s /home/sage/mclf/mclf /home/sage/sage/local/lib/python2.7/site-packages/
          sage -tp --initial .

jobs:
  "sage-8.2rc4":
    <<: *test
    docker:
      # TODO: pin to sagemath/sagemath:8.2 once that has been released for docker
      - image: saraedum/sagemath:latest
  docbuild-sage:
    docker:
      # TODO: pin to sagemath/sagemath:latest once that has been released for docker
      - image: saraedum/sagemath:latest
    steps:
      - checkout
      - run:
          command: |
            sudo apt-get update && sudo apt-get install -y build-essential
            cd docs
            mkdir -p _static
            sage -sh -c 'make html SPHINXOPTS="-W"'
  docbuild-readthedocs:
    docker:
      - image: readthedocs/build
    steps:
      - checkout
      - run:
          command: |
            curl https://beyondgrep.com/ack-2.22-single-file > /tmp/ack
            chmod 0755 /tmp/ack
            pip install --user readthedocs-build
            # fail on warnings (we can to pass -W through to sphinx-build currently)
            ~/.local/bin/rtd-build 2>&1 | /tmp/ack --passthru -v WARNING
            # check that readthedocs produced something non-empty
            (( $(du -s _readthedocs_build/mclf/html | cut -f1) > 1000 ))

workflows:
  version: 2
  test:
    jobs:
      - sage-8.2rc4
  doc:
    jobs:
      - docbuild-sage
      - docbuild-readthedocs
