version: 2

test: &test
  working_directory: /home/sage/mclf
  steps:
    - checkout
    - run:
        command: |
          ln -s /home/sage/mclf/mclf /home/sage/sage/local/lib/python2.7/site-packages/
          sage -tp --initial .

jobs:
  "sage-8.2":
    <<: *test
    docker:
      - image: sagemath/sagemath:8.2
  "sage-8.3.beta0":
    <<: *test
    docker:
      - image: sagemath/sagemath:8.3.beta0
  docbuild-sage:
    docker:
      - image: sagemath/sagemath:latest
    steps:
      - checkout
      - run:
          command: |
            sudo apt-get update && sudo apt-get install -y build-essential
            cd docs
            mkdir -p _static
            sage -sh -c 'make html SPHINXOPTS="-W"'
  docbuild-readthedocs:
    docker:
      - image: readthedocs/build
    steps:
      - checkout
      - run:
          command: |
            set -exo pipefail
            pip install --user readthedocs-build
            mkdir -p docs/_static
            ~/.local/bin/rtd-build 2>&1 | tee /tmp/rdt.log
            # fail on warnings
            ! grep WARNING /tmp/rdt.log > /dev/null
            # check that readthedocs produced something non-empty
            (( $(du -s _readthedocs_build/mclf/html | cut -f1) > 1000 ))

workflows:
  version: 2
  test:
    jobs:
      # When adding a new stable release of Sage here, make sure to also upgrade the Dockerfile
      - sage-8.2
      - sage-8.3.beta0
  doc:
    jobs:
      - docbuild-sage
      - docbuild-readthedocs
