version: 2

jobs:
  test: &test
    working_directory: /home/sage/mclf
    docker:
      - image: sagemath/sagemath:latest
    steps:
      - checkout
      - run:
          name: sage -tp --initial .
          command: |
            ln -s /home/sage/mclf/mclf /home/sage/sage/local/lib/python2.7/site-packages/
            sage -tp --initial .
  "test-sage-8.2":
    <<: *test
    docker:
      - image: sagemath/sagemath:8.2
  "test-sage-8.3.beta2":
    <<: *test
    docker:
      - image: sagemath/sagemath:8.3.beta2
  coverage:
    working_directory: /home/sage/mclf
    docker:
      - image: sagemath/sagemath:8.2
      - image: registry.gitlab.com/sagemath/dev/trac/sagemath:u-saraedum-24655
    steps:
      - checkout
      - run:
          name: test coverage
          command: |
            set +x
            # Run coverage test
            cp .circleci/coverage.sitecustomize.py /home/sage/sage/local/lib/python2.7/site-packages/sitecustomize.py
            export COVERAGE_PROCESS_START=`pwd`/.coveragerc
            sage -pip install coverage
            ln -s /home/sage/mclf/mclf /home/sage/sage/local/lib/python2.7/site-packages/
            sage -sh -c 'coverage run /home/sage/sage/src/bin/sage-runtests -p --initial .'
            sage -sh -c 'coverage combine'
            sage -sh -c 'coverage report'
            # Report to coveralls.io
            sudo apt update
            sudo apt install -y git
            sage -pip install coveralls
            sage -sh -c 'coveralls'
  docbuild-sage:
    docker:
      - image: sagemath/sagemath:latest
    steps:
      - checkout
      - run:
          command: |
            sudo apt-get update && sudo apt-get install -y build-essential
            cd docs
            mkdir -p _static
            sage -sh -c 'make html SPHINXOPTS="-W"'
  docbuild-readthedocs:
    docker:
      - image: readthedocs/build
    steps:
      - checkout
      - run:
          command: |
            set -exo pipefail
            pip install --user readthedocs-build
            mkdir -p docs/_static
            ~/.local/bin/rtd-build 2>&1 | tee /tmp/rdt.log
            # fail on warnings
            ! grep WARNING /tmp/rdt.log > /dev/null
            # check that readthedocs produced something non-empty
            (( $(du -s _readthedocs_build/mclf/html | cut -f1) > 1000 ))

workflows:
  version: 2
  test:
    jobs:
      # When adding a new stable release of Sage here, make sure to also upgrade the Dockerfile
      - test-sage-8.2
      - test-sage-8.3.beta2
      - coverage
      - docbuild-sage
      - docbuild-readthedocs
